* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100%;
  background: linear-gradient(to bottom, #000000, #913175);
}

/*@keyframes gradient-fall {
  from { transform: translateY(-100%); }
  to { transform: translateY(0); }
}*/
.close {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 35px;
  height: 5px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #a9a6a6;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
#add-movie-form{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:#bab4b4;
  width: 80vw;
  max-width: 30em;
  padding: 1.8em;
  background-color: #201f28;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 75%;
  left: 50%;
  z-index: 9999;
  border-radius: 0.6em;
  box-shadow: 1.2em 2em 3em rgba(215, 201, 201, 0.2);
}

input, select{
  color: black;
  background-color: #e7e4e4;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 100%;
  padding: 10px 10px;
  margin: 4px 0;
  box-sizing: border-box;
  display: block;
  margin-bottom: 1.5em;
}

.container {
  font-size: 16px;
  width: 90vw;
  max-width: 37.5em;
  padding: 1.5em 1.8em;
  background-color: #201f28;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 53%;
  left: 50%;
  border-radius: 0.6em;
  box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
}

.icon-element {
  width: 30px;
  height: 30px;
}
.nav button {
  background-color: transparent;
  display: inline-block;
  border: none;
  padding: 1em;
  border-radius: 0.3em;
  font-size: 0.9em;
  cursor: pointer;
  color: azure;
}

.nav button:hover {
  background-color: #201f28;
  color: white;
}
#add-movie-btn {
  background-color: transparent;
  border: none;
  display: grid;
  position: absolute;
  top: 2%;
  right: 1%;
  padding: 1em;
  border-radius: 0.3em;
  font-size: 0.9em;
  cursor: pointer;
  color: azure;
}
#add-form-button{
  background-color: #ece8e8;
  color: #000000;
  
}
#add-form-button:hover{
  background-color: #201f28;
  color: white;
}
#add-movie-btn:hover{
  background-color: #201f28;
  color: white;
}
.pagination {
  text-align: center;
}

.pagination-btn {
  color: rgb(114, 86, 86);
  float: center;
  padding: 6px 12px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #913175;
  margin: 0 1px;
}

.active {
  background-color: #444444;
  color: #913175;
  border: 1px solid #000000;
}

.pagination a:hover:not(.active) {
  background-color: #bab4b4;
}

.search-container {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.2em;
}

.list-container {
  font-size: 16px;
  width: 90vw;
  max-width: 37.5em;
  padding: 0em 0.8em;
  background-color: #201f28;
  position: relative;
  padding: 0%;
  transform: translate(-50%, -50%);
  top: 12em;
  left: 50%;
  border-radius: 0.6em;
  box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
}
.watch-container {
  font-size: 16px;
  width: 90vw;
  max-width: 37.5em;
  padding: 0em 0.8em;
  background-color: #201f28;
  position: relative;
  padding: 0%;
  transform: translate(-50%, -50%);
  top: 15em;
  left: 50%;
  border-radius: 0.6em;
  box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
}
.watch-container-latest {
  font-size: 16px;
  width: 90vw;
  max-width: 28.5em;
  padding: 0em 0.8em;
  background-color: #201f28;
  position: relative;
  padding: 0%;
  transform: translate(-50%, -50%);
  top: 15em;
  left: 50%;
  border-radius: 0.6em;
  box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
}

.search-container .search-input,
.search-container button {
  font-size: 1em;
  outline: none;
  border-radius: 0.3em;

}

.search-container .search-input {
  background-color: transparent;
  border: 1px solid #a0a0a0;
  padding: 0.7em;
  height: 50px;
  width: 230px;
  color: #ffffff;
}

.search-container .search-input:focus {
  border-color: #ffffff;
}

.search-container button {
  background-color: #913175;
  border: none;
  cursor: pointer;
  color: azure;
  width: 300px;
  height: 60px;
}

.search-container button:hover {
  background-color: #201f28;
  color: white;
}


#result {
  color: #ffffff;
}

li {
  display: inline;
}

.info {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 8fr;
  align-items: center;
  margin-top: 1.2em;
}

.poster {
  width: 100%;
}
.rank-img {
  width: 100%;
  margin-top: 10%;
  margin-left: 100%;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.06em;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  margin: 0.6em 0 0.9em 0;
}

.rating img {
  width: 1.2em;
}

.rating h4 {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
}

.details {
  display: flex;
  font-size: 0.95em;
  gap: 1em;
  justify-content: center;
  color: #a0a0a0;
  margin: 0.6em 0;
  font-weight: 300;
}

.genre {
  display: flex;
  justify-content: space-around;
}

.genre div {
  border: 1px solid #a0a0a0;
  font-size: 0.75em;
  padding: 0.4em 1.6em;
  border-radius: 0.4em;
  font-weight: 300;
}

h3 {
  font-weight: 500;
  margin-top: 1.2em;
}

p {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.8em;
  text-align: justify;
  color: #a0a0a0;
}

.msg {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container {
    font-size: 14px;
  }
  .list-container {
    font-size: 14px;
    top:8em;
  }
  .watch-container {
    font-size: 14px;
    top:10em;
  }
  .watch-container-latest {
    font-size: 14px;
    top:13em;
  }
  .info {
    grid-template-columns: 1fr;
  }
  #add-movie-btn {
    top: 9%;
    right: 1%;
    padding: 1em;
    border-radius: 0.3em;
    font-size: 0.9em;
    cursor: pointer;
    color: azure;
  }
  .poster {
    margin: auto;
    width: auto;
    max-height: 10.8em;
  }
  .rank-img {
    margin: auto;
    width: auto;
    max-height: 10.8em;
  }
}